.Blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

.Blockquote::before {
    content: '\201C';
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

.Cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

.Cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}
