.Logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.LogoBlack {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

.NavMenu {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.MobileNavBarIcon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.MobileNavBarIcon > i {
    font-size: 200%;
    color: #fff;
}

.Sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.Sticky .NavMenu {
    margin-top: 18px;
}

.Sticky .NavMenu li a:link,
.Sticky .NavMenu li a:visited {
    padding: 16px 0;
    color: #555;
}

.Sticky .Logo {
    display: none;
}

.Sticky .LogoBlack {
    display: block;
}
